# Dependencies
node_modules
package-lock.json

# Build outputs
dist
build
.next
out

# Coverage
coverage
.nyc_output

# Cache
.cache
.parcel-cache
.vite

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# Environment
.env
.env.local
.env.*.local

# Test
__snapshots__
